<p id="notice"><%= notice %></p>

<h1>Medical Center Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medical_center_types.each do |medical_center_type| %>
      <tr>
        <td><%= medical_center_type.name %></td>
        <td><%= medical_center_type.description %></td>
        
        <td><%= link_to 'Show', medical_center_type if can? :show, MedicalCenterType%></td>
        <td><%= link_to 'Edit', edit_medical_center_type_path(medical_center_type) if can? :edit, MedicalCenterType %></td>
        <td><%= link_to 'Destroy', medical_center_type, method: :delete, data: { confirm: 'Are you sure?' } if can? :Destroy, MedicalCenterType %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medical Center Type', new_medical_center_type_path if can? :create, MedicalCenterType %>
