<%= form_with(model: guard) do |form| %>
  <% if guard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(guard.errors.count, "error") %> prohibited this guard from being saved:</h2>

      <ul>
        <% guard.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :guard_date %>
    <%= form.datetime_select :guard_date %>
  </div>

  <div class="field">
    <%= form.label :medical_center_id %>
    <%= form.collection_select(:medical_center_id, MedicalCenter.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :worker_id %>
    <%= form.collection_select(:worker_id, Worker.all, :id, :full_name) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
