<p id="notice"><%= notice %></p>

<h1>Guards</h1>

<table>
  <thead>
    <tr>
      <th>Guard date</th>
      <th>Medical center</th>
      <th>Worker</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guards.each do |guard| %>
      <tr>
        <td><%= guard.guard_date %></td>
        <td><%= guard.medical_center.name %></td>
        <td><%= guard.worker.full_name %></td>
        <td><%= link_to 'Show', guard if can? :show, Guard %></td>
        <td><%= link_to 'Edit', edit_guard_path(guard) if can? :edit, Guard %></td>
        <td><%= link_to 'Destroy', guard, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, Guard%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Guard', new_guard_path if can? :create, Guard%>
