<p id="notice"><%= notice %></p>

<h1>Medical Centers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Address</th>
      <th>Phone number</th>
      <th>Medical center type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medical_centers.each do |medical_center| %>
      <tr>
        <td><%= medical_center.name %></td>
        <td><%= medical_center.description %></td>
        <td><%= medical_center.address %></td>
        <td><%= medical_center.phone_number %></td>
        <td><%= medical_center.medical_center_type.name %></td>
        <td><%#= link_to appointment.medical_center.count, people_path(:appointment_id => appointment.id) %>
        <td><%= link_to 'Show', medical_center if can? :show, MedicalCenter%></td>
        <td><%= link_to 'Edit', edit_medical_center_path(medical_center) if can? :edit, MedicalCenter  %></td>
        <td><%= link_to 'Destroy', medical_center, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, MedicalCenter %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medical Center', new_medical_center_path if can? :create, MedicalCenter%>
