<p id="notice"><%= notice %></p>

<h1>Workers</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Phone number</th>
      <th>Email</th>
      <th>Worker type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workers.each do |worker| %>
      <tr>
        <td><%= worker.first_name %></td>
        <td><%= worker.last_name %></td>
        <td><%= worker.phone_number %></td>
        <td><%= worker.email %></td>
        <td><%= worker.worker_type.name %></td>
        <td><%= link_to 'Show', worker if can? :show, Worker%></td>
        <td><%= link_to 'Edit', edit_worker_path(worker)if can? :edit, Worker %></td>
        <td><%= link_to 'Destroy', worker, method: :delete, data: { confirm: 'Are you sure?' }if can? :destroy, Worker %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Worker', new_worker_path if can? :create, Worker%>
